In [52]:
import numpy as np
import pandas as pd
from fractions import Fraction # so that numbers are not displayed in decimal.

In [53]:
data=pd.read_excel('fish_feed_formulation.xlsx')
df=pd.DataFrame(data)
df

,Ingredients,Protein,Fat,Carbs,Moisture,Fibre,Price
0,Deoiled Rice Bran,16,1.50,58,1,16,14
1,Hi Pro Soya DOC,50,1.25,14,12,6,48
2,Rice DDGS,47,5.00,0,10,6,36
3,Broken Wheat,12,3.00,27,12,43,14
4,Broken Rice,8,1.50,76,8,9,4
5,Broken Chura( Poha),0,23.00,76,1,0,3
6,Waste of Dal mill,24,1.50,59,6,8,8
7,Mustard DOC,37,2.00,0,12,12,23
8,Gr nut DOC,45,2.00,0,10,14,43
9,Mahua cake,24,55.00,3,10,3,18
10,Maize grain,10,4.00,70,10,0,8
11,Fish Meal,65,10.00,0,10,0,56
12,Meat & Bone Mill,50,10.00,0,7,0,34
13,Cr Rice Oil( FFA 4%),0,99.00,0,1,0,112
14,Refined Palmolein non edible,0,99.00,0,1,0,130
15,Maida,10,0.00,68,13,4,26

In [54]:

# A will contain the coefficients of the constraints
constraint=list()
percentage=list()
n=int(input("Enter number of nutrients to be constrained: "))
for i in range(0,n):
    constraint.append(input("Enter nutrient to be constrained: "))
    percentage.append(float(input("Enter percentage required of the nutrient")))
prod_wt=float(input("Enter weight of product to be produced"))
MIN=int(input("Enter 1 for minimization and 0 for maximisation"))
A = df[constraint].to_numpy().transpose()
A=A/100
no_decision_var=len(df)
A=np.vstack((np.ones(no_decision_var),A))

id=np.identity(n+1)
A=np.hstack((A,id))
print(pd.DataFrame(A))

Enter number of nutrients to be constrained: 4
Enter nutrient to be constrained: Protein
Enter percentage required of the nutrient30.5
Enter nutrient to be constrained: Fat
Enter percentage required of the nutrient1.25
Enter nutrient to be constrained: Carbs
Enter percentage required of the nutrient25
Enter nutrient to be constrained: Fibre
Enter percentage required of the nutrient11.3
Enter weight of product to be produced5000
Enter 1 for minimization and 0 for maximisation1
      0       1     2     3      4     5      6     7     8     9   ...    11  \
0  1.000  1.0000  1.00  1.00  1.000  1.00  1.000  1.00  1.00  1.00  ...  1.00
1  0.160  0.5000  0.47  0.12  0.080  0.00  0.240  0.37  0.45  0.24  ...  0.65
2  0.015  0.0125  0.05  0.03  0.015  0.23  0.015  0.02  0.02  0.55  ...  0.10
3  0.580  0.1400  0.00  0.27  0.760  0.76  0.590  0.00  0.00  0.03  ...  0.00
4  0.160  0.0600  0.06  0.43  0.090  0.00  0.080  0.12  0.14  0.03  ...  0.00

    12    13    14    15   16   17   18   19   20
0  1.0  1.00  1.00  1.00  1.0  0.0  0.0  0.0  0.0
1  0.5  0.00  0.00  0.10  0.0  1.0  0.0  0.0  0.0
2  0.1  0.99  0.99  0.00  0.0  0.0  1.0  0.0  0.0
3  0.0  0.00  0.00  0.68  0.0  0.0  0.0  1.0  0.0
4  0.0  0.00  0.00  0.04  0.0  0.0  0.0  0.0  1.0

[5 rows x 21 columns]

In [55]:
percentage=np.array(percentage)
nutrient_wt=(percentage/100)*prod_wt
b=np.hstack((prod_wt,nutrient_wt))

In [56]:
c=df[["Price"]].to_numpy().transpose()
M=999999
z=np.ones([1,n+1])*(-M)
if(MIN==1):
    c=-c
c=np.hstack((c,z))

In [57]:
cb=c[:,no_decision_var:].transpose()
cb

array([[-999999.],
       [-999999.],
       [-999999.],
       [-999999.],
       [-999999.]])

In [58]:
B=np.arange(no_decision_var,no_decision_var+n+1).reshape(n+1,1)

In [59]:

xb=b.reshape(n+1,1)

In [60]:
# combine matrices B and cb
table = np.hstack((B, cb))			
table = np.hstack((table, xb))		
# combine matrices B, cb and xb
# finally combine matrix A to form the complete simplex table
table = np.hstack((table, A))		
# change the type of table to float
table = np.array(table, dtype ='float')
# inputs end
df1=pd.DataFrame(table)
df1

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,16.0,-999999.0,5000.0,1.000,1.0000,1.00,1.00,1.000,1.00,1.000,...,1.00,1.0,1.00,1.00,1.00,1.0,0.0,0.0,0.0,0.0
1,17.0,-999999.0,1525.0,0.160,0.5000,0.47,0.12,0.080,0.00,0.240,...,0.65,0.5,0.00,0.00,0.10,0.0,1.0,0.0,0.0,0.0
2,18.0,-999999.0,62.5,0.015,0.0125,0.05,0.03,0.015,0.23,0.015,...,0.10,0.1,0.99,0.99,0.00,0.0,0.0,1.0,0.0,0.0
3,19.0,-999999.0,1250.0,0.580,0.1400,0.00,0.27,0.760,0.76,0.590,...,0.00,0.0,0.00,0.00,0.68,0.0,0.0,0.0,1.0,0.0
4,20.0,-999999.0,565.0,0.160,0.0600,0.06,0.43,0.090,0.00,0.080,...,0.00,0.0,0.00,0.00,0.04,0.0,0.0,0.0,0.0,1.0

In [76]:
import sys
# if min problem, make this var 1


print("Table at itr = 0")
print("B \tCB \tXB \ty1 \ty2 \ty3 \ty4")
print(pd.DataFrame(table))

print()
print("Simplex Working....")

# when optimality reached it will be made 1
reached = 0	
itr = 1
unbounded = 0
alternate = 0

while reached == 0:

	print("Iteration: ", end =' ')
	print(itr)
	print("B \tCB \tXB \ty1 \ty2 \ty3 \ty4")
	print(pd.DataFrame(table))
	print()

	# calculate Relative profits-> cj - zj for non-basics
	i = 0
	rel_prof = []
	while i<len(A[0]):
		rel_prof.append(c[0,i] - np.sum(table[:, 1]*table[:, 3 + i]))
		i = i + 1

	print("rel profit: ", end =" ")
	for profit in rel_prof:
		print(Fraction(str(profit)).limit_denominator(100), end =", ")
	print()
	i = 0
	
	b_var = table[:, 0]
	# checking for alternate solution
	while i<len(A[0]):
		j = 0
		present = 0
		while j<len(b_var):
			if int(b_var[j]) == i:
				present = 1
				break;
			j+= 1
		if present == 0:
			if rel_prof[i] == 0:
				alternate = 1
				print("Case of Alternate found")
				# print(i, end =" ")
		i+= 1
	print()
	flag = 0
	for profit in rel_prof:
		if profit>0:
			flag = 1
			break
		# if all relative profits <= 0
	if flag == 0:
		print("All profits are >= 0, optimality reached")
		reached = 1
		break

	# kth var will enter the basis
	k = rel_prof.index(max(rel_prof))
	min = 99999
	i = 0;
	r = -1
	# min ratio test (only positive values)
	while i<len(table):
		if (table[:, 2][i]>0 and table[:, 3 + k][i]>0):
			val = table[:, 2][i]/table[:, 3 + k][i]
			if val<min:
				min = val
				r = i	 # leaving variable
		i+= 1

		# if no min ratio test was performed
	if r ==-1:
		unbounded = 1
		print("Case of Unbounded")
		break

	print("pivot element index:", end =' ')
	print(np.array([r, 3 + k]))

	pivot = table[r][3 + k]
	print("pivot element: ", end =" ")
	print(Fraction(pivot).limit_denominator(100))
		
		# perform row operations
	# divide the pivot row with the pivot element
	table[r, 2:len(table[0])] = table[
			r, 2:len(table[0])] / pivot
			
	# do row operation on other rows
	i = 0
	while i<len(table):
		if i != r:
			table[i, 2:len(table[0])] = table[i,2:len(table[0])] - table[i][3 + k] * table[r, 2:len(table[0])]
				
				
		i += 1

	
	# assign the new basic variable
	table[r][0] = k
	table[r][1] = c[0,k]
	
	print()
	print()
	itr+= 1
	

print()

print("***************************************************************")

m=0
while m<len(table): #If feasible solution does not exist, prints warning and exits code
    if table[m][0]>=df.shape[0] :
        print("Feasible Solution Does not Exist! Kindly Change Input Parameters")
        print()
        sys.exit()
    m+=1
    
if unbounded == 1:
	print("UNBOUNDED LPP")
	exit()
if alternate == 1:
	print("ALTERNATE Solution")

print("optimal table:")
print("B \tCB \tXB \ty1 \ty2 \ty3 \ty4")
print(pd.DataFrame(table))
print()
print("value of Z at optimality: ", end =" ")



basis = []
i = 0
sum = 0
while i<len(table):
	sum += c[0,int(table[i][0])]*table[i][2]
	temp = "x"+str(int(table[i][0])+1)
	basis.append(temp)
	i+= 1
# if MIN problem make z negative
if MIN == 1:
	print(-sum)
else:
	print(sum)
print("Final Basis: ", end =" ")
print(basis)

print("Simplex Finished...")
print()

ingredients=df[["Ingredients"]].to_numpy()
ingredients

for i in range(0,len(table)):
    print("Amount of ",ingredients[i]," required is ",table[i][2]," kgs")

Table at itr = 0
B 	CB 	XB 	y1 	y2 	y3 	y4
     0         1            2         3    4          5          6   \
0   1.0     -48.0   217.391304 -3.565217  1.0  -8.869565  -5.304348
1   8.0     -43.0  1637.228261  8.524457  0.0  21.826087  10.520380
2   7.0     -23.0  1351.902174 -5.546196  0.0 -13.782609  -5.705163
3  15.0     -26.0  1793.478261  1.586957  0.0   1.826087   1.489130
4  20.0 -999999.0    88.777174 -0.217446  0.0  -0.882609  -0.099538

          7           8         9   ...         14         15          16  \
0  -5.130435  -68.695652 -3.652174  ... -23.652174 -23.652174 -286.782609
1  12.048913  158.510870  9.775815  ...  58.369565  56.494565  660.668478
2  -8.092391 -104.076087 -6.743207  ... -38.586957 -36.711957 -431.929348
3   2.173913   15.260870  1.619565  ...   4.869565   4.869565   59.043478
4  -0.404891   -6.191087 -0.325082  ...  -2.316957  -2.279457  -25.816848

           17   18         19            20          21         22   23
0 -286.782609  0.0   5.913043  7.877756e-15 -295.652174  -8.695652  0.0
1  660.668478  0.0 -18.342391  1.250000e+01  685.869565  25.135870  0.0
2 -431.929348  0.0  14.646739 -1.250000e+01 -451.086957 -19.701087  0.0
3   59.043478  1.0  -1.217391 -1.621891e-15   60.869565   3.260870  0.0
4  -25.816848  0.0   0.504239 -2.500000e-01  -26.586957  -0.763587  1.0

[5 rows x 24 columns]

Simplex Working....
Iteration:  1
B 	CB 	XB 	y1 	y2 	y3 	y4
     0         1            2         3    4          5          6   \
0   1.0     -48.0   217.391304 -3.565217  1.0  -8.869565  -5.304348
1   8.0     -43.0  1637.228261  8.524457  0.0  21.826087  10.520380
2   7.0     -23.0  1351.902174 -5.546196  0.0 -13.782609  -5.705163
3  15.0     -26.0  1793.478261  1.586957  0.0   1.826087   1.489130
4  20.0 -999999.0    88.777174 -0.217446  0.0  -0.882609  -0.099538

          7           8         9   ...         14         15          16  \
0  -5.130435  -68.695652 -3.652174  ... -23.652174 -23.652174 -286.782609
1  12.048913  158.510870  9.775815  ...  58.369565  56.494565  660.668478
2  -8.092391 -104.076087 -6.743207  ... -38.586957 -36.711957 -431.929348
3   2.173913   15.260870  1.619565  ...   4.869565   4.869565   59.043478
4  -0.404891   -6.191087 -0.325082  ...  -2.316957  -2.279457  -25.816848

           17   18         19            20          21         22   23
0 -286.782609  0.0   5.913043  7.877756e-15 -295.652174  -8.695652  0.0
1  660.668478  0.0 -18.342391  1.250000e+01  685.869565  25.135870  0.0
2 -431.929348  0.0  14.646739 -1.250000e+01 -451.086957 -19.701087  0.0
3   59.043478  1.0  -1.217391 -1.621891e-15   60.869565   3.260870  0.0
4  -25.816848  0.0   0.504239 -2.500000e-01  -26.586957  -0.763587  1.0

[5 rows x 24 columns]

rel profit:  -19996229/92, 0, -59120837/67, -8950201/90, -21451891/53, -513733659/83, -30870927/95, 0, 0, -623394175/44, -93951029/84, -127401808/55, -97993218/43, -2426204867/94, -2426206559/94, 0, -10415161/21, -4998995/4, -1268699331/46, -167512558/95, 0,

All profits are >= 0, optimality reached

***************************************************************
Feasible Solution Does not Exist! Kindly Change Input Parameters

SystemExit:

/Users/amitavaroy/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3445: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)